h2 {
    color: white;
    padding: 20px;
    background-color: rgb(30, 111, 241);
}

form {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.resp {
    display: inline;
    margin-left: 20px;
    color:rgb(30, 111, 241);
    font-style: bold;
}